@font-face {
  /*
   * http://thenorthernblock.co.uk/fonts/planer/
   */
	font-family:planer;
	src: url('/Planer_Reg.otf');
}

html, body {
  width:100%;
  height: 100%;
  overflow: hidden;
}

body {
	font-family:planer, monospace;
	background-color:#000000;
	color:#CCCCCC;
	padding:1em;
	font-size:1.3vw;
  margin:0;
  padding:0;
}

strong {
	color:#FFFFFF;
}

a {
	color:inherit;
	text-decoration:underline;
}

#nbdl-app, .app-container {
  width:100%;
  height:100%;
}

.slides {
  width:100%;
  height:100%;
  position:relative;
}

.slide {
  display:none;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
  transition: transform 200ms linear;
  position:absolute;
}

.slide.prev {
  display:flex;
  transform: translate(-150%);
}

.slide.current {
  display:flex;
}

.slide.next {
  display:flex;
  transform: translate(150%);
}

.title-slide {
  font-size:3em;
}

.slide-syntax {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.header {
	text-decoration:none;
  font-weight:bold;
  font-size:3.0em;
}

.slide-bulleted ul {
  font-size:2.5em;
  list-style-type:circle;
}

pre.syntax {
  padding:25px;
	font-size:1.2em;
	background-color:#0A0A0A;
}

.slide-overview-diagram {
  transform:scale(0.8);
}

.counter {
  font-size:1.2em;
  position:fixed;
  top:0px;
  right:0px;
}

.copyright:before {
  content: "\00a9 ";
}

.copyright {
  font-size:1.2em;
  position:fixed;
  bottom:0px;
  right:0px;
}
.conference-name {
  font-size:1.2em;
  position:fixed;
  bottom:0px;
  left:0px;
}

@media print {
  html, body {
	  font-size:0.8vw;
    overflow: visible;
  }

  .counter {
    display:none;
  }

  .slide,
  .slide.prev,
  .slide.current,
  .slide.next {
    display:flex;
    position:relative;
    page-break-after: always;
    transform: none;
  }

  .slide-overview-diagram {
    transform:scale(0.8);
  }
}
